.dub
docs.json
__dummy.html
docs/
/dlang_demo
dlang_demo.so
dlang_demo.dylib
dlang_demo.dll
dlang_demo.a
dlang_demo.lib
dlang_demo-test-*
dlang_demo_app
dlang_demo_cli
*.exe
*.pdb
*.o
*.obj
*.lst
vibed.db
